/* Header for Admin name */
header.header {
    background-color: #007bff;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

.breadcrumb {
    background-color: #f9f9f9;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
}

.breadcrumb a {
    text-decoration: none;
    color: #007bff;
    margin-right: 10px;
}

.breadcrumb a:hover {
    text-decoration: underline;
}
